.Pokedex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.Pokedex-name {
  color: lightgray;
}

.Pokedex-pokemon {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  margin: 50px;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.Pokedex-pokecard {
  list-style-type: none;
}